<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- build:css ../style/trafficLimited.css -->

    <link href='../lib/mapbox/mapbox-gl.css' rel='stylesheet' />
    <link href="../style/trafficLimited.css" rel="stylesheet" />
    <link rel="stylesheet" href="../lib/swiper/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="../fonts/font_scenery/iconfont.css">

    <!-- endbuild -->

    <title>SMap</title>
</head>
<body ng-app="scenery" ng-controller="sceneryController">
<nav-bar loc="locFlag"></nav-bar>

<div id="container">
    <div style="height: 56px;text-align: left;font-weight: 400;margin-bottom: 2px">
        <ul style="list-style: none;margin: 0;vertical-align: middle;padding: 22px 0 0 0;display: flex">
            <li style="font-size: 14px;color:rgba(0,0,0,0.7)">您现在的位置:</li>
            <li style="font-size: 14px;padding-left: 5px;color:rgba(0,0,0,0.7)">在线体验</li>

            <li style="font-size: 20px;padding:0 4px 0 9px;margin-top: -6px; ;color:rgba(0,0,0,1)">></li>
            <li style="font-size: 14px;padding-left: 5px; color:rgba(0,0,0,0.7)">景区专题引导</li>
        </ul>
    </div>
    <div id="changeBlank">


    </div>
    <div id="content">
        <div class="selectedDiv">
            <div class="nowCity" >
                <span ng-bind="selectScenery" ng-click="toSelected('open')" ng-style="changeImg"></span>
            </div>
            <div class="nowCity"  ng-hide="visible" ng-click="locationProvince ('nowScenery')" style="background-image: none;">
                <span  ng-bind="nowScenery"></span>
            </div>
            <div class="nowCity"  ng-hide="visible" ng-click="locationProvince('nextScenery')" style="background-image:none;padding-right:3px">
                <span  ng-bind="nextScenery" ></span>
            </div>

        </div>
        <div class="introduce">
            <div class="introTitle">
                <i class="iconfont icon-jingqu"></i>
                <span>大雁塔文化休闲景区  AAAA景区</span>
            </div>
            <div class="introContent">
                <i class="iconfont icon-leibie1"></i>
                <span>景区类别:&nbsp;风景名著</span>
            </div>
            <div class="introContent">
                <i class="iconfont icon-menpiao1"></i>
                <span>景点门票:&nbsp;100元/人</span>
            </div>
            <div class="introContent">
                <i class="iconfont icon-didian"></i>
                <span>景点地址:&nbsp;西安市雁塔区和平门外雁塔路南端大雁塔</span>
            </div>
            <div class="introContent">
                <i class="iconfont icon-dianhua"></i>
                <span>景区电话:&nbsp;029-67913178</span>
            </div>
            <div class="imgDisplay swiper-container">
                <div class="swiper-wrapper">
                    <div  class="swiper-slide">
                        <img src="../img/scenery/scene1.jpg" alt="">
                    </div>
                    <div  class="swiper-slide">
                        <img src="../img/scenery/scene2.jpg" alt="">
                    </div>
                    <div  class="swiper-slide">
                        <img src="../img/scenery/scene3.jpg" alt="">
                    </div>
                    <div  class="swiper-slide">
                        <img src="../img/scenery/scene4.jpg" alt="">
                    </div>
                    <div  class="swiper-slide">
                        <img src="../img/scenery/scene5.jpg" alt="">
                    </div>
                    <div  class="swiper-slide">
                        <img src="../img/scenery/scene6.jpg" alt="">
                    </div>

                </div>
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="introContent scrollContent">
                景区介绍:&nbsp;大雁塔作为现存最早、规模最大的唐代四方楼阁式砖塔，是佛塔这种古印度佛寺的建筑形式随佛教传入中原地区，并融入华夏文化的典型物证，是凝聚了中国古代劳动人民智慧结晶的标志性建筑。
            </div>
            <div class="specialTitle">
               特色专题&nbsp;&nbsp;>&nbsp;&nbsp;
            </div>
            <ul class="specialList">
                <li ng-repeat="site in specialList" ng-cloak  ng-click='show($index)'  ng-class='{active:selected==$index}'>{{site}}</li>
            </ul>
            <div class="secondList">
                <ul  ng-show='selected==0'class="ng-cloak" ng-cloak>
                    <li ng-repeat="item in sceondList1" ng-cloak class="ng-cloak"  >{{item}}</li>
                </ul>
            </div>

            <div class="specialTitle">
                景区线路&nbsp;&nbsp;>&nbsp;&nbsp;
            </div>
            <ul class="specialList">
                <li>人文景观游</li>
                <li>浪漫夜晚游</li>
                <li>佛教文化游</li>
            </ul>
        </div>

    </div>

    <div id="map">
    </div>
</div>
</body>

<!-- build:js ../js/trafficLimited.js -->
<script src='../lib/mapbox/mapbox-gl.js'></script>
<script src="../config/Application.js"></script>
<script src="../config/layer.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src='../lib/turf/turf.min.js'></script>
<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="../lib/swiper/swiper-3.4.2.min.js"></script>
<script src="../lib/angular-popups/angular-popups.js"></script>
<script src="../lib/angular-nvd3/d3.js"></script>
<script src="../lib/angular-nvd3/nv.d3.js"></script>
<script src="../lib/angular-nvd3/angular-nvd3.js"></script>
<script src="../js/service/dataService.js"></script>
<script src="../js/service/dataService-sMap.js"></script>
<script src="../js/scenery.js"></script>
<script src="../js/directives/nav/nav.js"></script>
<!-- endbuild -->

<script src="../js/directives/nav/nav.js"></script>



</html>