<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- build:css ../style/trafficLimited.css -->

    <link href='../lib/mapbox/mapbox-gl.css' rel='stylesheet' />
    <link href="../style/trafficLimited.css" rel="stylesheet" />
    <link rel="stylesheet" href="../lib/swiper/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="../fonts/font_scenery/iconfont.css">

    <!-- endbuild -->

    <title>SMap</title>
</head>
<body ng-app="scenery" ng-controller="sceneryController">
<nav-bar loc="locFlag"></nav-bar>

<div id="container">
    <div style="height: 56px;text-align: left;font-weight: 400;margin-bottom: 2px">
        <ul style="list-style: none;margin: 0;vertical-align: middle;padding: 22px 0 0 0;display: flex">
            <li style="font-size: 14px;color:rgba(0,0,0,0.7)">您现在的位置:</li>
            <li style="font-size: 14px;padding-left: 5px;color:rgba(0,0,0,0.7)">在线体验</li>

            <li style="font-size: 20px;padding:0 4px 0 9px;margin-top: -6px; ;color:rgba(0,0,0,1)">></li>
            <li style="font-size: 14px;padding-left: 5px; color:rgba(0,0,0,0.7)">景区专题引导</li>
        </ul>
    </div>

    <div id="content">
        <div class="selectedDiv">
            <div class="nowCity" >
                <span ng-bind="selectScenery" ng-click="toSelected('open')" ng-style="changeImg"></span>
            </div>
            <div class="nowCity"  ng-hide="visible" ng-click="locationProvince ('nowScenery')" style="background-image: none;">
                <span  ng-bind="nowScenery"></span>
            </div>
            <div class="nowCity"  ng-hide="visible" ng-click="locationProvince('nextScenery')" style="background-image:none;padding-right:3px">
                <span  ng-bind="nextScenery" ></span>
            </div>

        </div>

        <div class="searchList">
            <div class="searchInput clear">
                <input type="text" placeholder="请输入景区关键字搜索" class="fl">
                <span class="cancelButton">
                    <img src="../img/scenery/searchbar_close.png" alt="">
                </span>
                <div class="fl searchButton" style="margin-top:7px" ng-click="searchScenery()">
                    <i>
                        <img src="../img/scenery/timg.jpg" alt="">
                    </i>

                </div>
            </div>

            <ul class="searchResult fade" ng-hide='item==0' >
                  <li class="clear">
                      <div class="infoDes fl">
                          <div>
                              1.大雁塔
                          </div>
                          <div>
                              <span>5A景区</span>
                              <span>名胜古迹</span>
                          </div>
                          <div>
                              <span>门票</span>
                              <span>￥90</span>
                          </div>
                          <div>
                              <span>开放时间</span>
                              <span>8：00-17:00</span>
                          </div>
                          <div class="dotDis">
                              陕西省西安市雁塔区雁塔西路雁塔西路雁塔西路雁塔西路雁塔西路
                          </div>

                      </div>
                      <div class="imgDes fr">
                          <img src="../img/scenery/scene2.jpg" alt="">
                      </div>
                  </li>

                <li class="clear" ng-repeat="item in sceneryList">
                    <div class="infoDes fl">
                        <div>
                            [{{$index + 1}}]
                            {{item.sceneryName}}
                        </div>
                        <div>
                            <span> {{item.sceneryClass}}</span>
                            <span>名胜古迹</span>
                        </div>
                        <div>
                            <span>门票</span>
                            <span> {{item.sceneryTicket}}</span>
                        </div>
                        <div>
                            <span>开放时间</span>
                            <span> {{item.sceneryTime}}</span>
                        </div>
                        <div class="dotDis">
                            {{item.address}}
                        </div>

                    </div>
                    <div class="imgDes fr">
                        <img src="../img/scenery/scene2.jpg" alt="">
                    </div>
                </li>

            </ul>

        </div>


    </div>

    <div id="map">
    </div>
</div>
</body>

<!-- build:js ../js/trafficLimited.js -->
<script src='../lib/mapbox/mapbox-gl.js'></script>
<script src="../config/Application.js"></script>
<script src="../config/layer.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src='../lib/turf/turf.min.js'></script>
<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="../lib/swiper/swiper-3.4.2.min.js"></script>
<script src="../lib/angular-popups/angular-popups.js"></script>
<script src="../lib/angular-nvd3/d3.js"></script>
<script src="../lib/angular-nvd3/nv.d3.js"></script>
<script src="../lib/angular-nvd3/angular-nvd3.js"></script>
<script src="../js/service/dataService.js"></script>
<script src="../js/service/dataService-sMap.js"></script>
<script src="../js/scenery.js"></script>
<script src="../js/directives/nav/nav.js"></script>
<!-- endbuild -->

<script src="../js/directives/nav/nav.js"></script>



</html>