<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- build:css ../style/trafficLimited.css -->

    <link href='../lib/mapbox/mapbox-gl.css' rel='stylesheet' />
    <link href="../style/scenery.css" rel="stylesheet" />
    <link rel="stylesheet" href="../lib/swiper/swiper-3.4.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="../fonts/font_scenery/iconfont.css">

    <!-- endbuild -->

    <title>SMap</title>
</head>
<body ng-app="scenery" ng-controller="sceneryController">
<nav-bar loc="locFlag"></nav-bar>

<div id="container">
    <div style="height: 56px;text-align: left;font-weight: 400;margin-bottom: 2px">
        <ul style="list-style: none;margin: 0;vertical-align: middle;padding: 22px 0 0 0;display: flex">
            <li style="font-size: 14px;color:rgba(0,0,0,0.7)">您现在的位置:</li>
            <li style="font-size: 14px;padding-left: 5px;color:rgba(0,0,0,0.7)">在线体验</li>

            <li style="font-size: 20px;padding:0 4px 0 9px;margin-top: -6px; ;color:rgba(0,0,0,1)">></li>
            <li style="font-size: 14px;padding-left: 5px; color:rgba(0,0,0,0.7)">景区专题地图</li>
        </ul>
    </div>

    <div id="content">
        <div class="searchList">
            <div class="searchInput clear">
                <div class="fl clear" style="width:280px">
                    <i class="searchBar fl">
                        <img src="../img/scenery/icon_scenicspot_searchbar.png" alt="">
                    </i>
                    <input type="text"
                           placeholder="请输入景区关键字搜索"
                           ng-model="searchWord"
                           ng-change="relativeWords('change')"
                           class="fl"
                           id="keywordSearch"
                           style="font-size: 12px"
                    >
                    <img src="../img/scenery/searchbar_close.png" alt="" class="cancelButton fr" ng-click="clearInput()">
                </div>

                <div class="fr searchButton"  ng-click="searchScenery()">搜索</div>
            </div>
            <ul ng-style="relativeList" style="padding:0px;margin:0">
                <li
                        class="relativeResult"
                        ng-repeat="each in keywordsArr"
                        ng-click="toSearch(each)"
                >
                    <span class="logo"></span>
                    <span class="choiceWord" ng-bind="each.name"></span>
                </li>
            </ul>
            <div class="noSearchResult" ng-style="noSearchResult">
                <span class="logo"></span>
                <span class="noResult">无搜索结果，请重新输入</span>
            </div>

            <ul class="searchResult fade" ng-hide='item==0' >

                <li class="clear" ng-repeat="item in sceneryList" ng-click="lightLocation($index)" ng-mousemove="lightMark($index)" ng-mouseleave="removeMark($index)" >
                    <div class="infoDes fl ng-cloak">
                        <div class="postName">
                            {{$index + 1}}.
                            {{item.name}}
                        </div>
                        <div>
                            <span>{{item.sight_level+'景区'}}</span>
                            <span>{{item.sight_class}}</span>
                        </div>
                        <div>
                            <span>门票</span>
                            <span> {{item.ticket_price}}</span>
                        </div>
                        <div>
                            <span>开放时间</span>
                            <span> {{item.open_hours}}</span>
                        </div>
                        <div class="dotDis">
                            <span>陕西省西安市雁塔区雁塔西路雁塔西路雁塔西路雁塔西路雁塔西路</span>
                        </div>

                    </div>
                    <div class="imgDes fr">
                        <img src="../img/scenery/scene2.jpg" alt="">
                    </div>
                    <div class="borderLine">

                    </div>

                </li>

                <div class="moreResult ng-cloak">
                     <span class="allResult" ng-click="moreInfo()">查看全部搜索结果</span><span>[共{{resultNum}}条]</span>
                </div>


            </ul>
            <div class="introduce" style="display: none">
                <div class="imgDisplay">
                    <img src="../img/scenery/scene7.jpg" alt="">
                    <div class="backBtn" ng-click="toResultlist()">
                        <i>
                            <img src="../img/scenery/back.png" alt="" style="width:13px;height:13px">
                        </i>
                        <a href="">返回</a>
                    </div>
                    <div class="morePic" ng-click="scanPic()">
                        <img src="../img/scenery/timg.jpg" alt="">
                        <span>10</span>
                    </div>
                </div>
                <div class="introTitle">
                    <i class="iconfont icon-jingqu"></i>
                    <span>大雁塔文化休闲景区  AAAA景区</span>
                </div>
                <div class="introContent">
                    <i class="iconfont icon-leibie1"></i>
                    <span>景区类别:&nbsp;风景名著</span>
                </div>
                <div class="introContent">
                    <i class="iconfont icon-menpiao1"></i>
                    <span>景点门票:&nbsp;100元/人</span>
                </div>
                <div class="introContent">
                    <i class="iconfont icon-didian"></i>
                    <span>景点地址:&nbsp;西安市雁塔区和平门外雁塔路南端大雁塔</span>
                </div>
                <div class="introContent">
                    <i class="iconfont icon-dianhua"></i>
                    <span>景区电话:&nbsp;029-67913178</span>
                </div>

                <div class="introContent scrollContent">
                    景区介绍:&nbsp;大雁塔作为现存最早、规模最大的唐代四方楼阁式砖塔，是佛塔这种古印度佛寺的建筑形式随佛教传入中原地区，并融入华夏文化的典型物证，是凝聚了中国古代劳动人民智慧结晶的标志性建筑。
                </div>


            </div>

        </div>

    </div>
    <div class="swiperPic">
        <div class="centerBlock">
            <div class="disPic">
                <img  alt="">
            </div>
            <ul>
                <li ng-repeat="each in arrImg" ng-click="goImg($index)"><img  ng-src={{each}}  alt=""></li>
            </ul>
            <a href="javascript:void(0);" class="btn_left" ng-click="goLeft()" ></a>
            <a href="javascript:void(0);" class="btn_right" ng-click="goRight()"></a>
            <div class="closePic" ng-click="closePic()">
                <img src="../img/scenery/light_close.png" alt="">
            </div>
        </div>
        <span></span>


    </div>

    <div id="map">
        <div class="changeMapSizeDiv">
            <button class="addBtn" ng-click="changeZoom('add')"></button>
            <button class="subBtn" ng-click="changeZoom('sub')"></button>
        </div>
    </div>
</div>
</body>

<!-- build:js ../js/trafficLimited.js -->
<script src='../lib/mapbox/mapbox-gl.js'></script>
<script src="../config/Application.js"></script>
<script src="../config/layer.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src='../lib/turf/turf.min.js'></script>
<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="../lib/swiper/swiper-3.4.2.min.js"></script>
<script src="../lib/angular-popups/angular-popups.js"></script>
<script src="../lib/angular-nvd3/d3.js"></script>
<script src="../lib/angular-nvd3/nv.d3.js"></script>
<script src="../lib/angular-nvd3/angular-nvd3.js"></script>
<script src="../js/service/dataService.js"></script>
<script src="../js/service/dataService-sMap.js"></script>
<script src="../js/scenery.js"></script>
<script src="../js/directives/nav/nav.js"></script>
<!-- endbuild -->



</html>