<!DOCTYPE html>
<html lang="en" ng-app="statistic" style="background-color: #fff">
<head>
    <meta charset="UTF-8">
    <title>SMap</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!-- build:css ../style/statisticInfo.css -->
    <link rel="stylesheet" href="../style/statisticInfo.css">
    <link rel="stylesheet" href="../lib/angular-nvd3/nv.d3.css">
    <!-- endbuild -->
</head>
<body ng-controller="statisticController">
    <div class="content">
        <div class="topSquare"></div>
        <div class="wrapper">
            <div class="title">日出品情况统计</div>
            <div class="sumStatis">
                <div class="sumIcon">累计出品</div>
                <div class="clear">
                    <div class="sumClass fl">
                        <div class="topSum">POI</div>
                        <div class="topBot">
                            <div class="every">
                                <div style="background-color: #36aeea;height: 44px">新增</div>
                                <div class="sumNum poiNum ng-cloak">{{sumPoi.poi_add}}个</div>
                            </div>
                            <div class="every">
                                <div style="background-color: #67ba2f;height: 44px">修改</div>
                                <div class="sumNum poiNum ng-cloak">{{sumPoi.poi_update}}个</div>
                            </div>
                            <div class="every">
                                <div style="background-color: #ffae45;height: 44px">删除</div>
                                <div class="sumNum poiNum ng-cloak">{{sumPoi.poi_del}}个</div>
                            </div>
                        </div>

                    </div>
                    <div class="sumClass fr">
                        <div class="topSum">道路</div>
                        <div class="topBot">
                            <div class="every">
                                <div style="background-color: #36aeea;height: 44px">新增</div>
                                <div class="sumNum ng-cloak">{{sumRoad.road_add}}公里</div>
                            </div>
                            <div class="every">
                                <div style="background-color: #67ba2f;height: 44px">修改</div>
                                <div class="sumNum ng-cloak">{{sumRoad.road_update}}公里</div>
                            </div>
                            <div class="every">
                                <div style="background-color: #ffae45;height: 44px">删除</div>
                                <div class="sumNum ng-cloak">{{sumRoad.road_del}}公里</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="dailyStatis">
                <div class="dailyIcon">日出品列表</div>
                <div class="totalList clear">
                    <div class="fl">
                        <div class="firstCol">
                            <div style="padding: 0px 37px">NO</div>
                            <div style="padding: 0px 60px">日期</div>
                            <div style="padding: 0px 87px">开始时间</div>
                            <div style="padding: 0px 92px">结束时间</div>
                        </div>
                        <ul  class="hoverStyle">
                            <li  ng-repeat="item in dayProduceData" ng-click="showStaticInfo(item,$index)">
                                <div ng-bind="$index+1"></div>
                                <div ng-bind="item.belong_time"></div>
                                <div ng-bind="item.begin_time"></div>
                                <div ng-bind="item.end_time"></div>
                            </li>
                        </ul>

                    </div>
                    <div class="fr circleRe">
                        <div>
                            <div style="width: 100%; height: 30px;">
                                    <div style="float: left" class="darkBlueIcon"></div>
                                    <div style="float: left;padding-left: 10px"><span>各要素比例</span></div>
                            </div>
                                <div style="width: 100%; height: 220px" class="clear">
                                    <div style="width:40%;height: 220px;float:left;margin-right: 5%" >
                                        <nvd3 options='options' data='chartPoitop'></nvd3>
                                    </div>
                                    <div style="width:40%;height: 220px;float:left" >
                                        <nvd3 options='options' data='chartRoadtop'></nvd3>
                                    </div>
                                    <ul style="font-size: 14px;">
                                        <li><span class="picIntro" style="background-color:#FFA657;"></span>新增</li>
                                        <li><span class="picIntro" style="background-color: #FFD0A1;"></span>修改</li>
                                        <li><span class="picIntro" style="background-color: #6CBD6C;" ></span>删除</li>
                                    </ul>
                                </div>
                                <div class="clear">
                                    <div class="elementPer">
                                            <span  class="ng-cloak" >新增:&nbsp;{{poiData.poi_add}}个</span>
                                            <span  class="ng-cloak">修改:&nbsp;{{poiData.poi_update}}个</span>
                                            <span  class="ng-cloak">删除:&nbsp;{{poiData.poi_del}}个</span>
                                    </div>
                                    <div  class="elementPer">
                                            <span class="ng-cloak">新增:&nbsp;{{roadData.road_add}}公里</span>
                                            <span class="ng-cloak">修改:&nbsp;{{roadData.road_update}}公里</span>
                                            <span class="ng-cloak">删除:&nbsp;{{roadData.road_del}}公里</span>
                                    </div>
                                </div>
                            </div>



                </div>
            </div>

        </div>
    </div>



</body>
<!-- build:js ../js/statisticInfo.js -->

<script src="../lib/angularjs/1.4.4/angular.js"></script>
<script src="../config/Application.js"></script>
<script src="../lib/angular-popups/angular-popups.js"></script>
<script src="../lib/angular-nvd3/d3.js"></script>
<script src="../lib/angular-nvd3/nv.d3.js"></script>
<script src="../lib/angular-nvd3/angular-nvd3.js"></script>
<script src="../lib/jquery/jquery.js"></script>
<script src="../config/Application.js"></script>
<script src="../js/service/dataService.js"></script>
<script src="../js/service/dataService-sMap.js"></script>
<script src="../js/menu.js"></script>
<script src="../js/statisticInfo.js"></script>
<script src="../js/directives/nav/nav.js"></script>
<!-- endbuild -->

<script src="../js/directives/nav/nav.js"></script>

<!-- endbuild -->

</html>